<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Dimma</title>
</head>

<body>
  <h1>Dimma - friseur manager</h1>

  {% if current_user.is_authenticated %}
  <p>
    Logged in as {{ current_user.name }} <a href="{{ url_for('auth_logout') }}">Logout</a>
  </p>

  {% if current_user.role.name == "ADMIN" %}
  <ul>
    <li><a href="{{ url_for('users_index') }}">List accounts</a></li>
  </ul>  
  {% endif %}

  {% else  %}
  <ul>
    <li><a href="{{ url_for('auth_login') }}">Login</a></li>
    <li><a href="{{ url_for('auth_register') }}">Register</a></li>
  </ul>
  {% endif %}

  

  

  

  {% block body %}
  <p>
    Content.
  </p>
  {% endblock %}
</body>

</html>