{% extends "layout.html" %}

{% block body %}
<table class="table table-sm table-hover">
  <tr>
    <td>
      Average amount of appointments per friseur:
    </td>
    <td>
      {{ average_amount }}
    </td>
  </tr>
  <tr>
    <td>
      Total amount of appointments for the work day:
    </td>
    <td>
      {{ amount }}
    </td>
  </tr>
</table>

<h3 class="display-5">Appointments</h3>
<ul class="list-group">
  <li class="list-group-item nav-header bg-light">
    <div class="row">
      <div class="col-4">Date / Time</div>
      <div class="col">Res.No.</div>
      <div class="col">Fulfilled</div>
      <div class="col"></div>
    </div>
  </li>
  {% for appointment in appointments %}
  <li class="list-group-item">
    <div class="row">
      <div class="col-4">{{ appointment.date + " / " + appointment.time_reserved }}</div>
      <div class="col">{{ appointment.reservation_number }}</div>
      <div class="col">{{ appointment.fulfilled }}</div>
      <div class="col">
        <form method="GET" action="{{ url_for('appointments_single', appointment_id=appointment.id) }}">
          <input type="submit" class="btn btn-info btn-md" value="Info" />
        </form>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}