{% extends "layout.html" %}

{% block body %}


<table class="table table-sm table-hover" style="width: 30%">
  <tr>
    <td>
      Amount of upcoming appointments:
    </td>
    <td>
      {{ upcoming }}
    </td>
  </tr>
  <tr>
    <td>
      Appointments fulfilled:
    </td>
    <td>
      {{ fulfilled }}
    </td>
  </tr>
</table>
<h3>Appointments</h3>
<table class="table table-sm table-hover" style="width: 100%">
  <tr>
    <thead>
      <th>Date</th>
      <th>Time reserved</th>
      <th>Duration</th>
      <th>Customer</th>
      <th>Reservation number</th>
      <th>Friseur</th>
      <th>Fulfilled</th>
      <th></th>
      <th></th>
    </thead>
  </tr>
  {% for appointment in appointments %}
  <tr>
    <td>{{ appointment.date }}</td>
    <td>{{ appointment.time_reserved }}</td>
    <td>{{ appointment.duration }}</td>
    <td>{{ appointment.customer }}</td>
    <td>{{ appointment.reservation_number }}</td>
    <td>{{ appointment.friseur }}</td>
    <td>{{ appointment.fulfilled }}</td>
    <td>
      <form method="POST" action="{{ url_for('appointments_single_complete', appointment_id=appointment.id) }}">
        <input type="submit" value="set as fulfilled" />
      </form>
    </td>
    <td>
      <form method="POST" action="{{ url_for('appointments_single_delete', appointment_id=appointment.id) }}">
        <input type="submit" value="delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}