{% extends "layout.html" %}

{% block body %}
<h3 class="display-5">Available dates</h3>
<ul class="list-group">
  <li class="list-group-item nav-header bg-light">
    <div class="row">
      <div class="col">Date</div>
      <div class="col"></div>
    </div>
  </li>
  {% for work_day in work_days %}
  <li class="list-group-item">
    <div class="row">
      <div class="col">{{ work_day.date }}</div>
      <div class="col">
        <form method="GET" action="{{ url_for('appointments_select_time', user_id=user_id, work_day_id=work_day.id) }}">
          <input type="submit" class="btn btn-primary btn-md" value="Choose" />
        </form>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}