{% extends "layout.html" %}

{% block body %}
<h3 class="display-5">Available times</h3>
<ul class="list-group">
  <li class="list-group-item nav-header bg-light">
    <div class="row">
      <div class="col">Time</div>
      <div class="col"></div>
    </div>
  </li>
  {% for time in times %}
  <li class="list-group-item">
    <div class="row">
      <div class="col">{{ time }}</div>
      <div class="col">
        <form method="GET" action="{{ url_for('appointments_reserve_form', user_id=user_id, work_day_id=work_day_id, time=time) }}">
          <input type="submit" class="btn btn-primary btn-md" value="Choose" />
        </form>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endblock %}