{% extends "layout.html" %}

{% block body %}
<h3>Users</h3>

<table class="table table-sm table-hover">
  <tr>
    <thead>
      <th>Name</th>
      <th>Username</th>
      <th>User role</th>
      <th></th>
    </thead>
  </tr>
  {% for user in users %}
  <tr>
    <td>{{ user.name }}</td>
    <td>{{ user.username }}</td>
    <td>{{ user.role.name }}</td>
    <td>
      <form method="GET" action="{{ url_for('user_single', user_id=user.id) }}">
        <input type="submit" value="view" />
      </form>
    </td>
    
  </tr>
  {% endfor %}
</table>
{% endblock %}