{% extends "layout.html" %}

{% block body %}
<h3 class="display-5">Accounts</h3>
<ul class="list-group">
  <li class="list-group-item nav-header bg-light">
    <div class="row">
      <div class="col">Name</div>
      <div class="col">Username</div>
      <div class="col">User role</div>
      <div class="col"></div>
    </div>
  </li>
  {% for user in users.items %}
  <li class="list-group-item">
    <div class="row">
      <div class="col">{{ user.name }}</div>
      <div class="col">{{ user.username }}</div>
      <div class="col">{{ user.role.name }}</div>
      <div class="col">
        <form method="GET" action="{{ url_for('user_single', user_id=user.id) }}">
          <input type="submit" class="btn btn-info btn-md" value="View" />
        </form>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{{ pagination.info }}
{{ pagination.links }}
{% endblock %}