{% extends "layout.html" %}

{% block body %}
<h3 class="display-5">User info</h3>
<div class="card" style="">
  <div class="card-body">
    <h5 class="card-title">{{ user.name }}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <div class="row">
        <div class="col">Username:</div>
        <div class="col">{{ user.username }}</div>
      </div>
    </li>
    <li class="list-group-item">
      <div class="row">
        <div class="col">User role:</div>
        <div class="col">{{ user.role.name }}</div>
      </div>
    </li>
  </ul>
  <div class="card-body">
    <a href="{{ url_for('user_change_password', user_id=user.id) }}" class="btn btn-secondary btn-md" role="button">Change
      password</a>
    <a href="{{ url_for('user_delete', user_id=user.id) }}" class="btn btn-danger btn-md" role="button">Delete</a>
  </div>
</div>
{% if user.role.name == "FRISEUR" %}
<div class="container">
  <h3 id="single_user_appointments" class="display-5">Appointments</h3>
  <table class="table table-sm table-hover">
    <tr>
      <td>
        Amount of upcoming appointments for user:
      </td>
      <td>
        <strong>{{ upcoming }}</strong>
      </td>
    </tr>
  </table>
  <ul class="list-group">
    <li class="list-group-item nav-header bg-light">
      <div class="row">
        <div class="col-4">Date / Time</div>
        <div class="col">Friseur</div>
        <div class="col">Fulfilled</div>
        <div class="col"></div>
      </div>
    </li>
    {% for appointment in appointments %}
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">{{ appointment.date + " / " + appointment.time_reserved }}</div>
        <div class="col">{{ appointment.friseur }}</div>
        <div class="col">{{ appointment.fulfilled }}</div>
        <div class="col">
          <form method="GET" action="{{ url_for('appointments_single', appointment_id=appointment.id) }}">
            <input type="submit" class="btn btn-info btn-md" value="Info" />
          </form>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endif %}
{% endblock %}